---
---

<div>
  &quot;
  <i>
  {{ entry.title }}
  </i>
  &quot;
</div>

<div>

  {% assign first_authors = entry.first_authors | split: ',' %}
  {% assign corresponding_authors = entry.corresponding_authors | split: ',' %}

  {% for author in entry.author_array %}
    {% assign author_is_self = false %}
    {% assign author_is_first = false %}
    {% assign author_is_corresponding = false %}
    {% assign author_full_name = author.last | append: " " | append: author.first %}

    {% if author.last == site.scholar.last_name%}
      {% if site.scholar.first_name contains author.first%}
        {% assign author_is_self = true %}
      {% endif %}
    {% endif %}

    {% if first_authors contains author_full_name or forloop.first%}
      {% assign author_is_first = true %}
    {% endif %}

    {% if corresponding_authors contains {{author_full_name}} %}
      {% assign author_is_corresponding = true %}
    {% endif %}
    
    {% if forloop.length == 1 %}
      {% if author_is_self %}
        <span style="color: #0A4EB9">{{author.last}}, {{author.first}}</span>
      {% else %}
        {{author.last}}, {{author.first}}
      {% endif %}
    {% else %}
      {% unless forloop.last %}
        {% if author_is_self %}
          {% if author_is_first %}
            <span style="color: #0A4EB9">{{author.last}}, {{author.first}}<sup>#</sup>;</span>
          {% elsif author_is_corresponding %}
            <span style="color: #0A4EB9">{{author.last}}, {{author.first}}*;</span>
          {% else %}
            <span style="color: #0A4EB9">{{author.last}}, {{author.first}};</span>
          {% endif %}
        {% else %}
          {% if author_is_first %}
            <span>{{author.last}}, {{author.first}}<sup>#</sup>;</span>
          {% elsif author_is_corresponding %}
            <span>{{author.last}}, {{author.first}}*;</span>
          {% else %}
            <span>{{author.last}}, {{author.first}};</span>
          {% endif %}
        {% endif %}
      {% else %}
        {% if author_is_self %}
          {% if author_is_first %}
            <span style="color: #0A4EB9">{{author.last}}, {{author.first}}<sup>#</sup></span>
          {% elsif author_is_corresponding %}
            <span style="color: #0A4EB9">{{author.last}}, {{author.first}}*</span>
          {% else %}
            <span style="color: #0A4EB9">{{author.last}}, {{author.first}}</span>
          {% endif %}
        {% else %}
          {% if author_is_first %}
            <span>{{author.last}}, {{author.first}}<sup>#</sup></span>
          {% elsif author_is_corresponding %}
            <span>{{author.last}}, {{author.first}}*</span>
          {% else %}
            <span>{{author.last}}, {{author.first}}</span>
          {% endif %}
        {% endif %}
      {% endunless %}
    {% endif %}
  {% endfor %}
</div>
<div>
  <i>{{ entry.journal }}</i>, <b>{{ entry.volume }}</b>, {{ entry.pages }} ({{ entry.year }})
</div>
<!-- <div> -->
<!--   Published on: {{ entry.month }}, {{ entry.year }}  -->
<!-- </div> -->

<div id="{{key}}-materials">
  <div>
    <div class="btn-group btn-block">
      {% if entry.doi %}
        <button class="btn btn-sm" type="button">
          <a href="http://dx.doi.org/{{entry.doi}}" target="_blank">Link</a>
        </button>
      {% endif %}
      &nbsp;
      <button class="btn btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
        BibTeX
      </button>
      &nbsp;
      <div class="dropdown-menu">
        <pre class="pre pre-scrollable">{{ entry.bibtex }}</pre>
      </div>
      {% if entry.abstract %}
        <div class="btn-group btn-block">
          <button class="btn btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
            Abstract
          </button>
          <div class="dropdown-menu" style="text-align: justify">
            {{ entry.abstract }}
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</div>
